header
    padding: 20px 0
    .imgbox
        width: 40px
    .btn
        display: none
    nav
        a
            font-size: 20px
            color: #8c8999
            margin-right: 30px
        .home-color
            color: #74bebc
    @media screen and ( max-width: 991px )
        .btn
            display: flex
            nav
                display: none
